include:
  - template: Security/Dependency-Scanning.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml

image: node:latest

services:
  - mysql:latest

cache:
  paths:
    - node_modules/
    - .next/cache/

variables:
  MYSQL_DATABASE: "devparty"
  MYSQL_ROOT_PASSWORD: "devparty"

.prepare:
  before_script:
    - node -v
    - yarn -v
    - cp .env.example .env
    - yarn install --frozen-lockfile --silent

lint:
  extends: .prepare
  script:
    - yarn lint

prettier:
  extends: .prepare
  script:
    - yarn prettier:check

generate:
  extends: .prepare
  script:
    - yarn generate

typecheck:
  extends: .prepare
  script:
    - yarn generate
    - yarn typecheck

test:
  extends: .prepare
  image: mcr.microsoft.com/playwright:focal
  variables:
    DATABASE_URL: "mysql://runner:devparty@localhost:3306/devparty"
  script:
    - yarn prisma:migrate
    - yarn prisma:seed
    - npx playwright test

hardhat-test:
  extends: .prepare
  script:
    - npx hardhat test

build:
  extends: .prepare
  script:
    - yarn build

graphcdn:
  script:
    - npx graphcdn push
  only:
    - main

# Enhance it only for schedules
warmup:
  script:
    - ./scripts/warmup.sh

migrate:
  script:
    - npx prisma migrate reset --force
  when: manual

# Remove after Devparty release
seed:
  extends: .prepare
  script:
    - DATABASE_URL=$PROD_DATABASE_URL yarn prisma:seed
  only:
    - main
  when: manual

housekeeping:
  before_script: []
  script:
    - curl --request POST --header "PRIVATE-TOKEN:$ACCESS_TOKEN" https://gitlab.com/api/v4/projects/$CI_PROJECT_ID/housekeeping
  only:
    - main
