include:
  - template: Security/Dependency-Scanning.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml

image: node:16

services:
  - mysql:latest

cache:
  paths:
    - node_modules/
    - .next/cache/

variables:
  MYSQL_ROOT_PASSWORD: root
  MYSQL_USER: devparty
  MYSQL_PASSWORD: devparty
  MYSQL_DATABASE: devparty
  DB_HOST: mysql

.only-default: &only-default
  only:
    - branches
    - merge_requests

stages:
  - danger
  - test
  - deploy
  - clean

before_script:
  - node -v
  - yarn -v
  - cp .env.example .env
  - yarn install --frozen-lockfile --silent

danger:
  stage: danger
  before_script: []
  script: npx danger ci
  only:
    - merge_requests

lint:
  stage: test
  <<: *only-default
  script:
    - yarn lint

prettier:
  stage: test
  <<: *only-default
  script:
    - yarn prettier:check

generate:
  stage: test
  <<: *only-default
  script:
    - yarn generate

typecheck:
  stage: test
  <<: *only-default
  script:
    - yarn generate
    - yarn typecheck

# test:
#   stage: test
#   image: mcr.microsoft.com/playwright:focal
#   variables:
#     DATABASE_URL: 'mysql://root:root@mysql:3306/devparty'
#   script:
#     - yarn prisma:migrate
#     - yarn prisma:seed
#     - yarn prisma:testseed
#     - npx playwright test --list
#     - npx playwright test

hardhat-test:
  stage: test
  <<: *only-default
  script:
    - npx hardhat test

build:
  stage: test
  <<: *only-default
  script:
    - yarn build

graphcdn:
  stage: deploy
  before_script: []
  script:
    - npx graphcdn push
  only:
    - main

# Enhance it only for schedules
warmup:
  stage: deploy
  before_script: []
  script:
    - ./scripts/warmup.sh
  only:
    - main

migrate:
  stage: deploy
  <<: *only-default
  before_script: []
  script:
    - DATABASE_URL=$DEV_DATABASE_URL npx prisma migrate reset --force
  when: manual

# Remove after Devparty release
seed:
  stage: deploy
  script:
    - DATABASE_URL=$PROD_DATABASE_URL yarn prisma:seed
  only:
    - main
  when: manual

housekeeping:
  stage: clean
  before_script: []
  script:
    - curl --request POST --header "PRIVATE-TOKEN:$ACCESS_TOKEN" https://gitlab.com/api/v4/projects/$CI_PROJECT_ID/housekeeping
  only:
    - main
